/* Sidebar layout */
.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  overflow-y: auto;
  border-right: 1px solid #dee2e6;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.main-content {
  margin-left: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  transition: margin-left 0.3s ease;
  background-color: rgb(227, 239, 251);
}

.sidebar.collapsed+.main-content {
  margin-left: 0;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.content-scroll {
  overflow-y: auto;
  padding: 1rem;
  flex-grow: 1;
}

.sidebar .nav-link:hover {
  background-color: #759fdd;
  color: white;
}

.sidebar .nav-link.selected {
  background-color: #425b81;
  color: white !important;
}


.messageBubble {

  max-width: '80%';
  padding: '0.5rem 0.75rem';
  border-radius: '1rem';
  font-size: '0.875rem';
  word-wrap: 'break-word';
  white-space: 'pre-wrap';
  overflow-wrap: 'break-word';
}

.chat-canvas-body {

  height: '100%';
  background-color: rgb(227, 239, 251);
}


.notification-menu {
  max-height: 300px;
  /* Adjust the max height as per your design */
  overflow-y: auto;
}


/* Active page button styles */
.page-item.active .page-link {
  background-color: rgb(33, 37, 41);
  /* Dark background for active button */
  color: #fff;
  /* White text color for active button */
  border-color: #343a40;
  /* Dark border for active button */
}

/* Default link style */
.page-item .page-link {
  color: black;
  /* Default text color for page links */
}

/* Hover and Focus states */
.page-item .page-link:hover,
.page-item .page-link:focus {
  color: #fff;
  /* Text color should be white on hover/focus */
  background-color: black;
  /* Black background on hover/focus */
  border-color: #343a40;
  /* Dark border for consistency */
}


/* Full-page wrapper */
.user-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Always at least full height */
  background-color: rgb(227, 239, 251);
  /* Main bg covers entire page */
}

/* Navbar stays on top */
.user-navbar {
  flex-shrink: 0;
}

/* Scrollable content */
.user-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
  /* Content scrolls if it overflows */
}


.user-navbar-brand {
  font-size: 1.1rem;
  /* mobile default */
}

@media (min-width: 768px) {
  .user-navbar-brand {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .user-navbar-brand {
    font-size: 1.7rem;
  }
}

.bg-quick-stats {
  background-color: #8ec1de !important;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #008000;
  border-color: #004d00;
}
.custom-checkbox input[type="checkbox"]:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); 
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0033cc; 
  --bs-btn-border-color: #002080;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #002080;
  --bs-btn-hover-border-color: #00134d;
  --bs-btn-focus-shadow-rgb: 0, 51, 204;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #00134d;
  --bs-btn-active-border-color: #000d33;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0033cc;
  --bs-btn-disabled-border-color: #0033cc;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #555555;
  --bs-btn-border-color: #333333;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333333;
  --bs-btn-hover-border-color: #222222;
  --bs-btn-focus-shadow-rgb: 85, 85, 85;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #222222;
  --bs-btn-active-border-color: #111111;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #555555;
  --bs-btn-disabled-border-color: #555555;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #008000;
  --bs-btn-border-color: #004d00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #004d00;
  --bs-btn-hover-border-color: #003300;
  --bs-btn-focus-shadow-rgb: 0, 128, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #003300;
  --bs-btn-active-border-color: #002200;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #008000;
  --bs-btn-disabled-border-color: #008000;
}

.btn-info {
  --bs-btn-color: #000;
  --bs-btn-bg: #0099cc;
  --bs-btn-border-color: #006680;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #006680;
  --bs-btn-hover-border-color: #004d66;
  --bs-btn-focus-shadow-rgb: 0, 153, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #004d66;
  --bs-btn-active-border-color: #003344;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0099cc;
  --bs-btn-disabled-border-color: #0099cc;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffcc00;
  --bs-btn-border-color: #b38f00;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #b38f00;
  --bs-btn-hover-border-color: #806600;
  --bs-btn-focus-shadow-rgb: 255, 204, 0;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #806600;
  --bs-btn-active-border-color: #4d3300;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffcc00;
  --bs-btn-disabled-border-color: #ffcc00;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cc0000;
  --bs-btn-border-color: #800000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #800000;
  --bs-btn-hover-border-color: #660000;
  --bs-btn-focus-shadow-rgb: 204, 0, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #660000;
  --bs-btn-active-border-color: #400000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #cc0000;
  --bs-btn-disabled-border-color: #cc0000;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #e0e0e0;
  --bs-btn-border-color: #a0a0a0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #a0a0a0;
  --bs-btn-hover-border-color: #808080;
  --bs-btn-focus-shadow-rgb: 224, 224, 224;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #808080;
  --bs-btn-active-border-color: #606060;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #e0e0e0;
  --bs-btn-disabled-border-color: #e0e0e0;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #222222;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 34, 34, 34;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #222222;
  --bs-btn-disabled-border-color: #222222;
}


.bg-success { /* background-color: #13653f !important; */ background-color: #2d6a4f !important; }
.bg-warning   { background-color: #ffcc00 !important; }

/* Backgrounds */
.bg-primary   { background-color: #0033cc !important; }
.bg-secondary { background-color: #555555 !important; }
.bg-danger    { background-color: #cc0000 !important; }

.bg-info      { background-color: #0099cc !important; }

.bg-dark      { background-color: #222222 !important; }






